body {
	background: #ffffff;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #ffffff;
	font-family: 'Courier New', Arial;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
	margin: 0;
	padding: 0px;
}

h1 {
	font-family: 'Courier New', Arial;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22px;
	color: #000000;
}

h2 {
	font-family: 'Courier New', Arial;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #000000;
}

h3 {
	font-family: 'Courier New', Arial;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #000000;
}

p {
	font-family: 'Courier New', Arial;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

q {
	font-family: 'Courier New', Arial;
	font-size: 14px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

blockquote {
	font-family: 'Courier New', Arial;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	color: #000000;
}

pre {
	font-family: 'Courier New', Arial;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: #000000;
}

header {
	width: 100%;
	text-align: left;
	background: #ffffff;
}

a {
	font-family: 'Courier New', Arial;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 18.5714px;
	color: #ffffff;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}


/* Overlay style */

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(200, 50, 50, 0.8);
}


/* Overlay closing cross */

.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}


/* Menu style */

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}


/* Effects */


/* Overlay style */

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(200, 50, 50, 0.8);
}


/* Overlay closing cross */

.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}


/* Menu style */

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}


/* Effects */

.container {
	background: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.container.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

.map {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}


/* Form */

form {
	text-align: center;
}

label {
	display: block;
	letter-spacing: 4px;
	padding-top: 30px;
	text-align: center;
}

label .label-text {
	color: #fff;
	cursor: text;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	-moz-transform: translateY(-34px);
	-ms-transform: translateY(-34px);
	-webkit-transform: translateY(-34px);
	transform: translateY(-34px);
	transition: all 0.3s;
}

label input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #ffffff;
	color: white;
	font-size: 36px;
	letter-spacing: -1px;
	outline: 0;
	padding: 5px 20px;
	text-align: center;
	transition: all 0.3s;
	width: 200px;
}

label input:focus {
	max-width: 100%;
	width: 400px;
}

label input:focus+.label-text {
	color: #F0F0F0;
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
}

label input:valid+.label-text {
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
}

button {
	background-color: rgba(200, 50, 50, 0.0);
	border: 2px solid #ffffff;
	color: white;
	cursor: pointer;
	font-size: 20px;
	margin-top: 20px;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: all 200ms;
}

button:hover,
button:focus {
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid #b73f49;
	color: #b73f49;
	outline: 0;
}

table {
	border-collapse: collapse;
}

tr {
	border: solid;
	border-width: 2px 0;
	border-color: #b73f49;
}

tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}

.md-modal {
	position: fixed;
	margin-top: 10%;
	left: 50%;
	width: 50%;
	max-width: 650px;
	min-width: 300px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show~.md-overlay {
	opacity: 1;
	visibility: visible;
}


/* Content styles */

.md-content {
	color: #fff;
	background: rgba(200, 50, 50, 0.8);
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px 3px 0 0;
}


/* Effect 7:  slide and stick to top */

.md-effect-7 {
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.md-effect-7 .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.md-show.md-effect-7 .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
}

.fa {
	padding: 15px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
	color: white;
	text-decoration: none;
}

.fa:visited {
	text-decoration: none;
	color: white;
}

.fa:active {
	text-decoration: none;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}

.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
	background: #00aff0;
	color: white;
}

.fa-android {
	background: #a4c639;
	color: white;
}

.fa-dribbble {
	background: #ea4c89;
	color: white;
}

.fa-vimeo {
	background: #45bbff;
	color: white;
}

.fa-tumblr {
	background: #2c4762;
	color: white;
}

.fa-vine {
	background: #00b489;
	color: white;
}

.fa-foursquare {
	background: #45bbff;
	color: white;
}

.fa-stumbleupon {
	background: #eb4924;
	color: white;
}

.fa-flickr {
	background: #f40083;
	color: white;
}

.fa-yahoo {
	background: #430297;
	color: white;
}

.fa-soundcloud {
	background: #ff5500;
	color: white;
}

.fa-reddit {
	background: #ff5700;
	color: white;
}

.fa-rss {
	background: #ff6600;
	color: white;
}